@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.contact-page{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 4.2rem;
    background-color: white;
    color: rgba(20, 1, 1, 0.881);
    gap: 2.5rem;
    padding: 2rem;
    /* height: 100vh; */
    font-family:"Darker Grotesque", sans-serif ;
    font-size: 1.2rem;
    /* background-image: url('./logo.svg'); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: 25rem; */

    
}

.contact-page img{
    color: white;
}

.contact-page h2{
    text-align: center;
    color: orange;
}

