@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.navbarC {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff; 
    border-bottom: 1px solid #e0e0e0; 
    height: 4rem;
    font-family:"Darker Grotesque", sans-serif ;
    width:100%;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    padding-left: .3rem;
  }
  
  .logo {
    width: 30px; 
    height: 30px;
    background-image: url('./logo.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px; 
  }
  
  .title {
    font-size: 1.5rem;
    color: #f57c00; 
    margin: 0;
  }

  .signIn{
    /* display: flex; */
align-items: center;
background-color: #FCFCFC;
border: 1px solid #f57c00;
border-radius: 100px;
padding: 0 .5rem;
cursor: pointer;
font-size: 0.9rem;
color: #f57c00;
gap: .7rem;
height: 1.5rem;

  }
  

  @media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        padding: 10px;
    }

    .logo-container {
        padding-left: .03rem;
        margin-bottom: 10px;
    }

    .title {
        font-size: 1.5em;
    }

    
}
 
  